@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid empty-view">
    <img src="~/images/icons8-hornet_hive.svg"/>
    <h3>There are no projects saved yet.</h3>
    <h5>Now that you are here, lets start a project and get to work.</h5>
    <a href="@Url.Action("AddProject","EmptyProjectView")" class="btn btn-primary-blue">Create a Project</a>
</div>