@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}

<html class="home-view">
    <body class="home-view">
        <h1>Hello @ViewData["FirstName"]</h1>
        <p>Nice to have you here, let's take a moment to get you all setup'</p>
    </body>
</html>
