:root {
    --primaryColor: #2196F3;
    --primaryDarkColor: #1565C0;
    --primaryLightColor: #64B5F6;
    --primaryBackgroundColor: #E3F2FD;
    --secondaryColor: #9C27B0;
    --secondaryDarkColor: #6A1B9A;
    --secondaryLightColor: #BA68C8;
    --secondaryBackgroundColor: #F3E5F5;
    --grayDarkTextColor: #757575;
    --grayColor: #9E9E9E;
    --grayDarkColor: #424242;
    --grayLightColor: #E0E0E0;
    --grayLightBackgroundColor: #FAFAFA;
    --grayBackgroundColor: #F2F2F2;
}

body {
    
}

/* Gradients */
.home-view {
    background: linear-gradient(var(--primaryColor), var(--primaryDarkColor));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Messages */
.error-message {
    font-family: Lato;
    font-size: 16px;
    color: red;
}

.error-box {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    color: red;
}

/* NavBar */
.navbar-active-primary {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom: solid;
    border-bottom-color: white;
}

/* Buttons */
.btn-primary-blue {
    background-color: var(--primaryColor); 
    color:white;
}
.btn-primary-blue:hover {
    background-color: var(--primaryDarkColor);
    color:white;
}
/* Logo */
.logo-container {
    text-align: center;
    position: relative;
    padding-top: 8px;
}

.logo-container h1 {
    font-family: Lato;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Forms */
.form-header-container {
    text-align: center;
}

.form-header-container h1 {
    font-family: Lato;
    font-size: 48px;
    color: white;
}

.form-header-container label {
    font-family: Lato;
    font-size: 26px;
    line-height: 36px;
    color: white;
}

.form-header-container .tip {
    font-style: italic;
    font-size: 22px;
}
.form-container {
    background-color: white;
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.form-container h2 {
    text-align:center;
    font-family: Lato;
    font-size: 36px;
    line-height: 44px;
    color: var(--primaryDarkColor);
    padding-top: 8px;
}

.form-container h3 {
    text-align: center;
    font-family: Lato;
    color: var(--primaryColor);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.form-container .section-header {
    color: var(--primaryColor);
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 26px;
    font-family: Lato;
}

.form-container label {
    color: var(--grayDarkTextColor);
    font-family: Lato;
}

.form-group label {
    font-family: Lato;
}

.fas-primary-dark {
    color: var(--primaryDarkColor);
}
.form-container input[type=text], input[type=password] {
    font-family: Lato;
    font-size: 20px;
}

.form-footer {
    height: 60px;
    background-color: var(--grayBackgroundColor);
    text-align: center;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-footer-white {
    background-color: white;
    height: 60px;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-footer label {
    font-family: Lato;
    font-size: 16px;
    line-height: 32px;
    color: var(--grayDarkTextColor);
    transform: translate(-32px, 16px);
    display: inline-block;
}

.form-footer a {
    font-family: Lato;
    font-size: 16px;
    line-height: 32px;
    color: var(--primaryDarkColor);
    transform: translate(8px, 16px);
    text-decoration: underline;
    text-decoration-color: var(--primaryDarkColor);
    display: inline-block;
}

.footer-link {
    text-align: center;
}
.footer-link a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: Lato;
    font-size: 24px;
    line-height: 32px;
    display: inline-block;
}
/* Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-family: Lato;
    font-weight: 500;
    color: var(--grayDarkTextColor);
}

.sidebar .nav-link.active {
    color: var(--primaryColor);
}

.sidebar-header {
    font-family: Lato;
    font-size: 18px;
    vertical-align: middle;
    color: var(--grayDarkTextColor);
    line-height: 32px;
}

/* Date Picker */
datetimepicker-input {
    color: green;
}

/* Empty View */
.empty-view {
    position: relative;
}
.empty-view h3 {
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: Lato;
    text-align: center;
}
.empty-view h5 {
    padding-bottom: 8px;
    font-family: Lato;
    text-align: center;
    color: var(--grayColor)
}
.empty-view img {
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    margin: 0 auto;
}
.empty-view a {
    display:block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}
