:root {
    --primaryBlueDark: #1565C0;
    --grayBackground: #F2F2F2;
    --grayBorderColor: #BDBDBD;
    --grayDarkTextColor: #757575;
}

body {
    padding-top: 50px;
    padding-bottom: 20px
}

/*Error message*/
.error-message {
    font-family: Lato;
    font-style: italic;
    font-size: 16px;
    color: red;
    margin-top: 6px
}

.error-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Lato;
    font-style: italic;
    font-size: 16px;
    color: red;
    line-height: 44px;
    height: 44px;
    width: 50%;
    margin-bottom: -12px;
}

.success-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Lato; 
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    width: 50%;
    margin-bottom: -12px;
}

/*Gradients*/
.home-view {
    background: linear-gradient(#2196F3, #1565C0);
    background-repeat: no-repeat;
    background-attachment: fixed
}

/*Logo*/
.circle-logo {
    background-image: url('circle_logo.svg');
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

    .circle-logo h1 {
        color: white;
        font-family: Lato;
        font-size: 36px;
        font-weight: bold;
        line-height: 44px; 
        margin-top: 8px;
        margin-bottom: 12px;
    }
/*Headers*/
.hello-user {
    text-align: center;
    color: white;
    font-family: Lato;
    font-style:normal;
    line-height: 72px;
    font-weight: bold;
    font-size: 48px;
}
.hello-message {
    text-align: center;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
}
.hello-hint {
    text-align: center;
    color: white;
    font-family: Lato;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    width: 100%;
}
/*Forms*/
.form-container {
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 65%;
    min-width: 350px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
    .form-container .section-header {
        margin-top: 8px;
        left: 0;
        color: var(--primaryBlueDark);
        height: 44px;
        line-height: 44px;
        width: 250px;
        font-family: Lato;
        font-style: normal;
        font-size: 26px;

    }
    .form-container .vertical-divider {
        border: 1px solid var(--grayBorderColor);
        height: 80%;
        position: relative;
        margin-right: 10px;
        margin-left: 10px
    }

    .form-container h2 {
        font-family: Lato;
        font-size: 36px;
        line-height: 44px;
        color: var(--primaryBlueDark);
        margin-top: 16px;
        margin-bottom: 16px;
        display: inline-block
    }

    .form-container .input-container {
        position: relative;
        border-color: var(--grayBorderColor);
        border-width: 2px;
        border-style: solid;
        width: 50%;
        height: 48px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 24px;
        margin-top: 12px
    }

    .form-container .input-container2 {
        position: absolute;
        border-color: var(--grayBorderColor);
        border-radius: 8px;
        border-width: 2px;
        border-style: solid;
        width: 50%;
        height: 48px;
        left: 0;
        margin-bottom: 24px;
        margin-top: 12px
    }

    .form-container input[type=text] {
        height: 90%;
        width: 70%;
        border-color: transparent;
        margin-top: 2px;
        margin-bottom: 12px;
        font-family: Lato;
        font-size: 20px;
    }

    .form-container .input-full {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2px;
        margin-bottom: 12px;
        height: 48px;
        width: 80%;
        border-style: solid;
        border-width: 2px;
        border-color: var(--grayBorderColor)
    }
    .form-container .input-half-center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 48px;
        width: 40%;
        border-style: solid;
        border-width: 2px;
        border-color: var(--grayBorderColor)
    }

    .form-container .input-half-left {
        position: relative;
        height: 48px;
        width: 40%;
        border-style: solid;
        border-width: 2px;
        border-color: var(--grayBorderColor);
        margin-left: 60px;
        margin-top: 2px;
        margin-bottom: 18px;
        float: left;
    }

    .form-container .input-half-right {
        position: relative;
        height: 48px;
        width: 30%;
        margin-right: 60px;
        margin-top: 2px;
        margin-bottom: 18px;
        float: right;
    }


        .form-container .input-full input[type=text] {
            height: 90%;
            width: 95%;
            border-color: transparent;
            font-family: Lato;
            font-size: 20px
        }

    .form-container .input-half-left input[type=text] {
        height: 90%;
        width: 95%;
        border-color: transparent;
        font-family: Lato;
        font-size: 20px
    }

    .form-container .input-full input[type=password] {
        height: 90%;
        width: 95%;
        border-color: transparent;
        font-family: Lato;
        font-size: 20px
    }

    .form-container input[type=password] {
        margin-top: 2px;
        margin-bottom: 8px;
        height: 90%;
        width: 70%;
        border-color: transparent;
        font-family: Lato;
        font-size: 20px
    }

    .form-container input[type=submit] {
        margin-top: 16px;
        margin-bottom: 12px;
        color: white;
        border: none;
        background-color: var(--primaryBlueDark);
        width: 50%;
        height: 44px;
        font-family: Lato;
        font-size: 24px
    }

    .form-container .fa {
        position: relative;
        color: var(--primaryBlueDark);
        vertical-align: middle;
        left: 0
    }
.form-footer-white {
    background-color: white;
    width: 65%;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}
    .form-footer-white input[type=submit] {
        margin-top: 16px;
        margin-bottom: 12px;
        color: white;
        border: none;
        background-color: var(--primaryBlueDark);
        width: 50%;
        height: 44px;
        font-family: Lato;
        font-size: 24px
    }

.form-footer {
    background-color: var(--grayBackground);
    width: 65%;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center; 
}

.form-footer label {
    font-family: Lato;
    font-size: 16px;
    line-height: 22px;
    color: var(--grayDarkTextColor);
    position: relative;
    transform:translate(-32px, 16px)
}

.form-footer a {
    font-family: Lato;
    font-size: 16px;
    line-height: 32px;
    color: var(--primaryBlueDark);
    position: relative;
    transform: translate(8px, 16px); 
    text-decoration: underline;
    text-decoration-color: var(--primaryBlueDark);
    display: inline-block
}

.footer-link {
    text-align: center
}

    .footer-link a {
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
        margin-top: 8px;
        font-family: Lato;
        font-size: 24px;
        display: inline-block
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}
